.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.weather-forecast {
  background-color: #d6e6f5;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: 560px;
  max-width: 340px;
  width: 100%;
}

.weather-forecast h2 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}

.forecast-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.forecast-item:last-child {
  border-bottom: none; /* 마지막 항목의 하단 경계 제거 */
}

.forecast-item p {
  margin: 0;
  font-size: 1em;
}
.weather-icon {
  width: 50px;
  height: 50px;
}
