.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.search-container {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.content-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px; /* 컨텐츠 사이의 간격 추가 */
}

.favorites-column,
.weather-forecast-column {
  width: 23%; /* 너비를 약간 줄임 */
}

.weather-info-column {
  width: 40%;
}
.weather-map-container {
  width: 100%;
  padding: 10px 20px;
  background-color: #f0f0f0;
  margin-top: auto;
}
