.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.favorites-column {
  width: 20%;
}

.weather-info-column {
  width: 50%;
  display: flex;
  justify-content: center;
}

.weather-forecast-column {
  width: 25%;
}
