html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 0.5s ease-in-out;
}

.App {
  min-height: 100vh;
  width: 100%;
}
